*{
	margin: 0;
	padding: 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-sizing: border-box;
}
body,html{
	height: 250px;
	width: 300px;
}
.rotating-box {
	width: 300px;
	height: 250px;
	/* margin: 10px auto;
	left: 0;
	top: 0; */
	perspective: 4000px;
}
.single-rb {
	width: 300px;
	height: 250px;
	animation: rotate 15s linear infinite;
	transform-style: preserve-3d;
	margin-top: 10px;
	margin-left: 1px;
}
.single-rb img {
	height: 250px;
	width: 300px;
}
.single-rb div {
	position: absolute;
	width: 300px;
	height: 250px;
}
.front-side {
	transform: translateZ(50px);
}
.back-side {
	transform: rotateY(180deg) translateZ(200px);
}
.left-side {
	transform: rotateY(-90deg) translateX(-200px);
	transform-origin: left;
}
.right-side {
	transform: rotateY(90deg) translateX(200px);
	transform-origin: right;
}
.top-side {
	transform: rotateX(90deg) translateY(-200px);
	transform-origin: top;
}
.bottom-side {
	transform: rotateX(-90deg) translateY(200px);
	transform-origin: bottom;
}
@keyframes rotate {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(360deg);
	}
}
